/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap');

/* remove list styles */
ul[role='list'],
ol[role='list'],
li,
ul {
    list-style: none;
    padding: 0;
}
/* Style for Google Material Symbols */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* General CSS */

html{
    font-size: 16px;
    font-family: var(--font-montserrat);
}

:root{
    --color-1: #fff0f3;
    --color-2: #ffb3c1;
    --color-3: #ff4d6d;
    --color-4: #a4133c;
    --color-5: #590d22;

    --hg-opacity: 1;

    --font-montserrat:'Montserrat', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

body{
    margin: 0px;
    height: 100vh;
    overflow-y: hidden;
}


.pop{
    border-left: 2px solid var(--color-4);
    border-top: 2px solid var(--color-4);
    border-right: 4px solid var(--color-4);
    border-bottom: 4px solid var(--color-4);
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 5px 8px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }


.flexCol{
    display: flex;
    flex-direction: column;
}


main{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

/* nav function */

.nav{
    position: sticky;
    top: 0px;
    height: 0px;
    width: 200px;
    padding: 0px;
    align-self: flex-end;
}

.navContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: blue;
    padding-left: 1rem;
    transform: translateX(100%);
}
.navContainerBack{
    transform: translateX(0);
    transition-duration: 100ms;
}

.navTitle{
    font-size: 1.5rem;
}

.navContentContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navContent{
    cursor: pointer;
}

.navContent:hover{
    color: var(--color-1);
}

/* end of nav function */

section{
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
}

.section2, .section3, .section4{
    /* padding-right: 200px; */
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Section 1 */

.section1{
    background-color: var(--color-1);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.bigContainer{
    padding: 10px;
}

.arrow{
    margin-top: 50px;
    cursor: pointer;
}

/* Section 2 */

.section2{
    background-color: var(--color-2);
}

.list{
    list-style: none;
}

.limitWidth{
    max-width: 80%;
}

.section3{
    background-color: var(--color-3)
}

.section4{
    background-color: var(--color-4);
}

li.spaceInList{
    margin-bottom: 5%;
}

/* Card */
.cardContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
.card{
    font-size: 1rem;
    height: 210px;
    width: 210px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffb3c1;
    
}

/* -------------- */
/* css animations */
/* -------------- */

