@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap');

html{
    font-size: 3vw;
    font-family: var(--font-montserrat);
}

:root{
    --color-1: #fff0f3;
    --color-2: #ffb3c1;
    --color-3: #ff4d6d;
    --color-4: #a4133c;
    --color-5: #590d22;

    --font-montserrat:'Montserrat', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

body{
    margin: 0px;
    height: 100vh;
    overflow: auto;
}

.pop{
    border-left: 2px solid var(--color-4);
    border-top: 2px solid var(--color-4);
    border-right: 4px solid var(--color-4);
    border-bottom: 4px solid var(--color-4);
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 5px 8px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.flexCol{
    display: flex;
    flex-direction: column;
}


.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

.scroller section {
    scroll-snap-align: start;
}

section{
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
}

.section1{
    background-color: var(--color-1);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.bigContainer{
    padding: 10px;
}

.section2{
    background-color: var(--color-2)
}

.section3{
    background-color: var(--color-3)
}

.section4{
    background-color: var(--color-4)
}